/*
	writting my own visual framework for no reason
	manujith 
*/


@font-face {
	font-family: 'peajackandjane';
	src: url('fonts/peajackandjane.eot');
	src: local('☺'), url('fonts/peajackandjane.woff') format('woff'), url('fonts/peajackandjane.ttf') format('truetype'), url('fonts/peajackandjane.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
    font-family: 'MyriadProLight';
    src: url('fonts/myriadpro-light-webfont.eot');
    src: url('fonts/myriadpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-light-webfont.woff') format('woff'),
         url('fonts/myriadpro-light-webfont.ttf') format('truetype'),
         url('fonts/myriadpro-light-webfont.svg#MyriadProLight') format('svg');
    font-weight: bold;
    font-style: normal;
} 


html,body{
	margin:0px;
	padding:0px;
	font-family:'MyriadProLight';
}

*{
	
	text-shadow:none !important;
	text-decoration:none !important;
	overflow:hidden !important;
};

.ui-footer{
	border-style:none !important;
}


.content{
	width:100%;
	height:100%;
	margin-top:1%;
}

.list{

	
}

.list li{
	list-style-type:none;
	
	line-height:50px;
	height:50px;
	font-size:1.5em;
	border-bottom:1px solid #FFF;
}

.list-blue  li{
	border-color:#6BA5E7;
}
.list-purple  li{
	border-color:#AA40FF;
}
/*
.list-blue > li:before{
	content:url('images/list-blue2.png');
	position:relative;
	top:3px;
	margin:5px;
}
.list-purple > li:before{
	content:url('images/list-purple2.png');
	position:relative;
	top:3px;
	margin:5px;
}
*/
.list h1{
	font-family:'MyriadProLight';
	color:#312f30;
	font-size:200%;
	margin-left:5%;
	letter-spacing:0px;
	margin:0px;
	margin-left:5%;
	margin-top:5%;
	padding:0px;
}

.divider{
	width:100%;
	height:30px;
	background-repeat:no-repeat;
	margin:0px;
	margin-top:-7%;
	margin-left:1%;
	padding:0px;
}

.divider-blue{
	background-image:url('images/divider-blue.png');
	background-size:80% 80%;
}
.divider-purple{
	background-image:url('images/divider-purple.png');
	background-size:80% 80%;
}

[data-role='footer']{
	background-color:#FFFFFF !important;
	border:none !important;
	bottom:-5px;
	padding:0px;
	margin:0px;
}

[data-role='footer'] img{
	width:100%;
	margin:0px;
	padding:0px;
}

.btn-footer{
	width:15%;
}
.btn-left{
	float:left;
}
.btn-right{
	float:right;
}

.slap-type{
	min-width:50px;
	width:33%;
	text-align:center;
	border:1px solid #312f30;
}
.slap-type:hover{
	cursor:pointer;
}
.slap-type img{
	width:100%;
}

.slappables{

}

.slappables li{
	list-style-type:none;
	display:inline-block;
	min-width:30%;
	text-align:center;
	border:1px solid #eeeeee;
	font-size:1.5em;
	margin:2px;
	padding:1px;
	line-height:40px;
}
.slappables li.active{
	border-color:blue;
}
